.header-main {
    background-color: cornflowerblue;
    position: relative;
    
}
.head-logo{
    width: 100%;
   
}

.info-all{
    position: absolute;
    top:25px;
    left: 800px;
    display: inline-block;
    overflow: hidden;
}
.head-info{
    width: 80px;
    float: left;
    margin-right: 20px;
}
.head-info > a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
    font-style: italic;
}

/*푸터*/

/*푸터*/

.footer {
    background-color:slategray;
    height: 300px;
    overflow: hidden;
    text-align: center;
    

}

.foot-info{
    width: 25%;
    float: left;
    position: relative;
    top: 80px;
   
    
}
.foot-info > a{
   
    text-decoration: none;
    color: #333333;
    margin-top: 30px;
}

.foot-info > a> img{
    margin-right: 25px;
}

.foot-info > a:hover{
    color:rgb(213, 200, 200);
}


.foot-footinfo{
    position: relative;
    width: 50%;
    top: 170px;
    overflow: hidden;
   
}

.foot-footinfo > span{
    width: 160px;
    display: inline;
    float: left;

}

/*인덱스2*/

/*index2*/


.index-two{
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.main-pre {
    width: 33.33%;
    float: left;
    text-align: center;
    
}
.pre-title {
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    margin-top: 30px;
    color: #555555;
}
.pre-con {
    color: #555555;
    margin-top: 30px;
}
.pre{
    text-align: center;
    margin-bottom: 80px;
}
.pre > div {
    font-size: 3em;
    font-weight: 200;
    color: #555555;
    font-style: italic;
    margin-bottom: 30px;

}

.pre > p {
    font-size: 1.5em;
    color: #555555;
    
}


.pre-title {
    background-image: linear-gradient(120deg, #abbce3 0%, #6495ed 100%);
    background-repeat: no-repeat;
    background-size: 0% 0%;
    background-position: 50% 88%;
    transition: background-size 0.25s ease-in;
  }
  .pre-title:hover{
    background-size: 50% 30%;
    background-position: 50% 88%;

    transform:scale(1.1);           
 
    transition: transform .5s; 
  }




 
 

