* {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

hr {
	border-top: 1px solid #ccc;
}

ul, ol, li {
	list-style: none;
}

a:hover, a:focus {
    text-decoration: none;
}

/* 본문 타이틀 */
.content-title {
    text-align: center;
    font-size: 70px;
    font-weight: 700;

    margin-top: 50px;
}

/* 본문 헤더 */
.content-header {
    text-align: center;
}

.content-header > li > a {
    display: block;
    width: 100%;

    font-size: 26px;
}

.content-header > li > a:hover {
    border-bottom: 2px solid #777;
}

.content-header > li > a.active {
    background-color: cornflowerblue;
    color: white;

    border-radius: 10px;

    cursor: default;
    border-bottom: none;
}

/* 글 등록 */
.post-regist {
    padding: 10px;

    border: 1px solid #ccc;
    text-align: left;
}

.post-regist > form > .btn {
    float: right;
}

.post-regist > form > .categori {
	margin-bottom: 10px;
}

.post-regist > form .title {
}

.regist-content {
    padding: 10px;

    width: 100%;
    height: 150px;
    resize: none;

    transition: height 0.5s ease-in-out;
}

.regist-content:focus {
    height: 200px;
}

/* 최신글, 조회순 */
.list-option {
    float: left;

    height: 50px;
    line-height: 50px;
}

/* 대분류 */
.list-mainCategori {
    display: inline-block;

    height: 50px;
    line-height: 50px;

    margin-left : 200px;
}

/* 검색  */
.search {
    float: right;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom : 10px;
}

/* 본문 게시판 */
.content-notice {
    padding: 0;
    margin-bottom : 5px;
    
    border-top: 2px solid #000;

    text-align: center;
}

/* ul태그 margin-bottom default: 10 */
.content-notice ul {
    margin-bottom: 0;
}

/* 게시판 제목 */
.content-header {
    width: 100%;
}

.content-header > ul {
    height : 30px;
    line-height: 30px;

    margin-bottom: 0;
    padding-left: 0;

    border-bottom: 2px solid #ccc;
}

.content-header > ul > li {
    
    text-align: center;

    font-size: 15px;
    font-weight: 700;

}

/* 게시판 내용 */
.content-section {
    overflow: hidden;
}

.content-section > ul {
    border-bottom: 1px solid #ccc;

    padding-left: 0;

    overflow: hidden;
}

.content-section > ul > li{
    height: 30px;
    line-height: 30px;
}

/* 게시판 상세 */
.content-section > ul > .content-view {
    border: 1px solid #ccc;
    border-bottom: 0px;
    box-sizing: border-box;
    height: 0;
    line-height: 0;

    padding-top: 10px;

    transition: height 3s ease-in-out;
}

.content-section > ul > li.active {
    height: auto;
    line-height: unset;
}

/* 게시판 상세 - 답변 */
.content-reply {
    border: 1px solid #ccc;

    margin: 10px 0;
}

.reply-id {
    display: block;
    float: left;

}

.reply-commnt {
    float: right;
}

/* 게시판 상세 - 답변 쓰기 */
.regist-reply {
    padding: 10px;

    width: 100%;
    height: 100px;

    resize: vertical;

    transition: height 2s ease-in-out;
}

.regist-reply:focus {
    height: 150px;

    border: 1px solid cornflowerblue;
}

.content-view-btn {
}

/* 페이지네이션 */
.content-page {
    text-align: center;

    margin-top: 10px;
    margin-bottom: 50px;
}

.paging {
    display: inline-block;
}

.paging > li {
    display:inline-block;

    border-radius: 100px;
    border: 1px solid cornflowerblue;

    padding: 5px 10px;
}

.paging > li > a {
    color:cornflowerblue;
    font-weight: 600;
}

.paging > li.active {
    background: cornflowerblue;
}

.paging > li.active > a {
    color: #fff;
}

/* 글쓰기 버튼 */
.btn-right {
    float: right;

    margin-right: 10px;
}


/* 히든 속성 */
.hidden2 {
    display: none;
}

/* 전체적인 버튼 디자인 */
.btn-signature1 {
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    border: none;
}

.btn-signature2 {
    text-align: center;

    color: white;
    background-color: rgb(171, 188, 227);
    border: none;
}

.btn-single:hover {
    text-align: center;

    color: white;
    background-color: rgb(171, 188, 227);
    border: none;
}

/* 전체적인 select 디자인 */

select {
    padding: 3px;
}
