* {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 42px;
    text-align: center;
}

p {
    margin: 0 0 10px;
    text-align: center;
}

a:hover, a:focus {
    text-decoration: none;
}

.grade
select {
    padding: 3px;
    width: 206px;
    height: 31px;
}

.media {
	margin: 0 !important;
}

.media-body {
	margin-left: 2 !important;	
}

.media-object {
	margin: 10px 10px;	
}

.review-item {
	width: 90%;
	border: 1px solid lightgray;
	border-radius: 2px;
	margin: 5px;
}

.photo {
    text-align: center;
}

.photoBno {
	text-align: right;
	font-size: 15px;
	color: gray;
}

.photo-image {
	width: 200px;
	height: 200px;
}

.photo-title {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.photoStar {
	text-align: right;
	color: red;
	font-size: 12px
}

.photoContent {
	height: 100px;
	font-size: 12px;
}

.photoWriter {
	font-size: 13px;
	text-align: right;
}

.btn-signature2 {
    margin-top: -35px;
    margin-right: 11px;
    margin-bottom : 58px;
    float: right;
    text-align: center;
    color: white;
    background-color: rgb(171, 188, 227);
    border: none;
}

.btn-single:hover {
    text-align: center;
    color: white;
    background-color: rgb(171, 188, 227);
    border: none;
}

.content-page {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}


.titlebox {
	width: 250px;
	text-align: center;
    font-size: 20px;
    font-weight: bold;
	height: 40px;
	line-height: 40px;
	margin: 70px auto;
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
}

.titlebox1 {
	width: 250px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	margin: 70px auto;
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
}

.t-control .t-title {
	width: 100px;
	min-width: 100px; /*화면줄었을때 최소크기*/
	vertical-align: middle; /*테이블에서 세로 가운대정렬*/
    text-align: unset;
}

/*input 요소의 넓이만 선택*/
.t-control input {
	width: 200px;
	display: inline; /*인라인요소로 변경한다*/
}

/*개발자 도구에서 input-sm의 정렬을 푼다*/
.t-control .input-sm {
	height: auto;
	line-height: normal;
}
/*td의 아래만 밑줄*/
.t-control td {
	border-bottom: 1px solid #E1E1E1;
}

.titlefoot {
	text-align: center;
	margin: 30px auto; /*박스의 가운데정렬*/
	width: 50%; /*크기 50%*/
}

.t-title {
    font-size: 15px;
    font-weight: bold;
}

.photo-image {
    width: 200px;
    height: 250px;
}

.photo-image img {
    height: 180px;
}

.btn-regist {
	margin-top: 50px;
}
