<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.erproject.location.mapper.LocationMapper">
  
  	<insert id="setMarkInfo">	
		insert into kickList(markno, pcode, ccode, location_x, location_y)
  					VALUES(#{markNo}, #{pCode}, #{cCode}, #{location_x}, #{location_y})					
  	</insert>
  	
  	<select id="getKickInfo" resultType="KickListVO">
  		select * from kickList
  	</select>
  	
  	<update id="updateMarkInfo">
  			UPDATE kickList SET pCode=#{pCode}, cCode=#{cCode} WHERE markNo = #{markNo}
  	</update>
  	
  	
  </mapper>