<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.erproject.photo.mapper.PhotoMapper">
  
  	<select id="photoReviewGetList" parameterType="String" resultType="PhotoReviewVO">
  	<![CDATA[
				select PNO,
			         PCODE,
			         PHOTOIMAGE,
			         PHOTOWRITER,
			         PHOTOTITLE,
			         PHOTOSTAR,
			         PHOTOCONTENT,
		             created
		        from PHOTOREVIEW
	]]>
		             <if test="value!=null"> 
			  			where PCODE = #{value}  
			  		</if> 
		    order by PNO DESC
  	</select>
  	
  	<insert id="photoReviewRegist">
		insert into photoreview values(0,  #{pcode}, #{photoImage}, #{photoWriter}, #{photoTitle}, #{photoStar}, #{photoContent}, NOW() );

  	</insert>
  	
  	<select id="productGet" parameterType="String" resultType="ProductInfoVO">
  		select * from PRODUCTINFO where pcode = #{pcode}
  	</select>
 	
 	<select id="productGetList" resultType="ProductInfoVO">
  		select * from PRODUCTINFO
  	</select>
  	
  	
  </mapper>