/* 1. 웹폰트 선언 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  src: url(../fonts/edosz.ttf);
  font-family: "Aria";
}

/* 2. 디자인 시작시 기본 선언 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Noto Sans KR', sans-serif;/* 웹폰트 적용 */
    width: 100%;
    min-width: 320px; 
}

img {
    max-width: 100%;/* 사이즈가 변했을 때 넓이 유지 */
    height: auto; /* 넓이에 따라 높이가 변함 */
}

input, textarea, button, select {
    -webkit-appearance: none; /* 브라우저별로 고유하게 적용되는 form관련요소들의 css제거 */
    -moz-appearance: none;
    -o-appearance: none;

}

ul, li, dl, ol {
    list-style: none; /* 순서요소들의 리스트스타일 제거 */
}


/* 첫번째 섹션 */
.servicepage-s1 {
  background-image: url('../img/home.jpg');
  background-size: cover;
  font-size: 3em;
  position: relative;
}

.s1-header {
  width: 100%;
  height: 85px;
  background-color: cornflowerblue;
  position: absolute;
  top: 0px;
}

.s1-header > a {
  text-decoration: none;
  text-decoration: none;
  color: white;
  font-size: 0.4em;
  font-weight: 100;
  font-style: italic;
}

.s1header-logo {
  position: absolute;
  right: 50%;
  margin-right: 600px;
}

.s1header-login {
  position: absolute;
  top: 23px;
  left: 50%;
  margin-left: 300px;
}

.s1header-join {
  position: absolute;
  top: 23px;
  left: 50%;
  margin-left: 400px;
}

.s1header-mypage {
  position: absolute;
  top: 23px;
  left: 50%;
  margin-left: 500px;
}

.s1-pp {
  text-align: center;
}

.s1-p {
  font-family: "Aria";
  font-size: 300%;
  color: #fff;
  /* 글씨 테두리 */
  /* text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue; */
}

/* .s1-p:hover {
  text-shadow: -1px 0 #010B5C, 0 1px #010B5C, 1px 0 #010B5C, 0 -1px #010B5C;
} */

.s1-p2 {
  font-family: "Aria";
  font-size: 100%;
  color: #fff;
  /* margin-bottom: 500px; */
}

/* .s1-p2:hover {
  text-shadow: -1px 0 #010B5C, 0 1px #010B5C, 1px 0 #010B5C, 0 -1px #010B5C;
} */


/* 두번째 섹션 */
.servicepage-s3 {
  text-align: center;
}

.s3-top {
  text-align: center;
}

.s3-top > strong {
  font-size: 4em;
  font-family: "Aria";
}

.s3-img {
  display: inline-block;
  width: 20%;
  height: 400px;
}

.s3-content > strong{
  font-size: 2em;
}


/* 세번째 섹션 */
.s2-management {
  text-align: center;
}

.s2-top {
  margin-bottom: 50px;
  overflow: hidden;
  font-family: "Aria";
}

.s2-top > strong {
  font-size: 4em;
  font-family: "Aria";
  margin-bottom: 100px;
}

.s2-img {
  display: inline-block;
  width: 25%;
  margin-left: 10px;
}

.s2-img > img {
  border-radius: 1rem;
}

.s2-p1 {
  text-align: left;
  font-size: 2em;
  margin-bottom: 5px;
}

.s2-p2 {
  text-align: left;

}

/* 네번째 섹션 */

.servicepage-s4 {
  text-align: center;
  position: relative;
}

.s4-strong {
  font-size: 4em;
  margin-bottom: 100px;
  font-family: "Aria";
}

.s4-top {
  margin-top: 200px;
  margin-bottom: 20px;
}

.s4-middle {
  overflow: hidden;
  width: 500px;
  height: 50%;
  display: inline-block;
  /* border: 1px solid #777; */
  /* box-shadow: 0 0.2rem 0.4rem 0 rgb(0 0 0 / 25%); */
  border-radius: 1rem 1rem 0 0;
  /* background-color: #fff; */
  margin-bottom: 200px 
}

.s4-p {
  display: inline-block;
  /* border: 1px solid #777; */
  width: 45%;
  height: 50px;
  background-color: #87CEFA;
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 50px;
  border-radius: 1rem;
}

.s4-p > p {
  font-size: 25px;
  color: #fff;
}


/* 채팅 */
.s4-bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: 600px;
  width: 300px;
  height: 300px;
  border: 1px solid #87CEFA;
}

.s4-title {
  background-color: #87CEFA;
  color: #fff;
}

.s4-content {
  height: 70%;
  width: 100%;
  border: 1px solid #87CEFA;
  overflow: scroll;
  text-align: left;

}

/* 스크롤바 설정*/
.s4-content::-webkit-scrollbar{
  width: 10px;
}

/* 스크롤바 막대 설정*/
.s4-content::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: rgba(255,255,255,1);
  border: 1px solid #87CEFA;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;    
}

/* 스크롤바 뒷 배경 설정*/
.s4-content::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}


.s4-input {
  overflow: hidden;
}


.s4-mesege {
  width: 70%;
  height: 66px;
  float: left;
  border: 1px solid #87CEFA;
}

.s4-mesege:hover {
  border: 1px solid cornflowerblue;
}

.s4-mesege:focus {
  outline: 1px solid cornflowerblue;
}

#s4-btn {
  width: 30%;
  float: left;
  height: 66px;
  background-color: #87CEFA;
  color: #fff;
  border: 1px solid cornflowerblue;
  font-size: 15px;
  font-weight: 1000;

}







/* 다섯번째 섹션 */
.servicepage-s5 {
  text-align: center;
}

.s5-top {
  font-size: 4em;
  margin-bottom: 70px;
  font-family: "Aria";
}

.s5-chart1 {
  display: inline-block;
}

.s5-chart2 {
  text-align: center;
  margin-bottom: 30px;
  
}

.chart-div {
  display: inline-block;
}

.legend-div {
  position: absolute;
  top: 340px;
  right: 50%;
  margin-right: 200px;
}

.legend-div ul li {
  margin: 10px 0;
  color: #666;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
}

.legend-div ul li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

/* 마지막 섹션 */
.servicepage-s6 {
  background-image: url('../img/wall.jpg');
  background-size: cover;
  text-align:center;
}

.s6-p {
  font-family: "Aria";
  font-size: 400%;
  color: #fff;
  margin-bottom: 50px;
}

.s6-img > img {
  width: 1100px;
  height: 500px;
}

















